{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2", "@babel/preset-env", {"useBuiltIns": "entry"}],
      "plugins": ["transform-vue-jsx", "istanbul", "transform-es2015-arrow-functions", { "spec": true }]
    }
  }
}
